@model IEnumerable<MeuCantinhoCriativo.ViewModels.HobbyViewModel>

<h1>Meus Hobbies</h1>

@if (Model == null || !Model.Any())
{
    <p>Você ainda não adicionou nenhum hobby. <a class="btn btn-primary" asp-action="Cadastrar">Adicione um agora!</a></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var hobby in Model)
            {
                <tr>
                    <td>@hobby.Nome</td>
                    <td>@hobby.descricao</td>
                    <td>
                        <a asp-action="Cadastrar" asp-route-HobbyId="@hobby.Id" class="btn btn-warning">Editar</a>

                        @if (hobby.descricao != null)
                        {
                            <a asp-action="Detalhes" asp-route-HobbyId="@hobby.Id" class="btn btn-info">Detalhes</a>
                        }
                        else
                        {
                            <span class="btn btn-secondary">Detalhes</span>
                        }

                        <a asp-action="Deletar" asp-route-HobbyId="@hobby.Id" class="btn btn-danger">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>       
    </table>
    <a asp-action="Cadastrar" class="btn btn-primary">Adicionar Novo Hobby</a>
}   
